@import '../shared/colors';
@import '../shared/form';

.publish-time {
    text-align: center;
    font-weight: bold;
}

body {
    #content {
        .container {
            gap: 25px;
            flex-direction: column;

            #tab-switches {
                width: 100%;
                max-width: 500px;

                display: grid;
                grid-gap: 25px;
                grid-template-columns: 1fr 1fr;

                .tab-switch {
                    cursor: pointer;
                    height: 50px;

                    border: 3px solid;
                    background-color: transparent;

                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;

                    &:hover {
                        box-shadow: 3px 3px $light;

                        &:active {
                            box-shadow: none;
                            transform: translate(3px, 3px);
                        }
                    }

                    &[data-tab='automated'] {
                        color: $yellow;

                        &:hover {
                            color: $black;
                            border-color: $yellow;
                            background-color: $yellow;
                        }

                        &.active {
                            color: $black;
                            border-color: $yellow;
                            background-color: $yellow;
                        }
                    }

                    &[data-tab='scheduled'] {
                        color: $blue;

                        &:hover {
                            color: $black;
                            border-color: $blue;
                            background-color: $blue;
                        }

                        &.active {
                            color: $black;
                            border-color: $blue;
                            background-color: $blue;
                        }
                    }
                }
            }

            #tabs {
                width: 100%;
                max-width: 1000px;

                .tab {
                    gap: 25px;
                    display: flex;
                    flex-direction: column;

                    .tab-title {
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .re-order {
                        cursor: pointer;

                        width: 100%;
                        height: 50px;
                        max-width: 250px;

                        margin: 0 auto;

                        border: none;
                        background-color: $red;

                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;

                        &:hover {
                            box-shadow: 3px 3px $light;

                            &:active {
                                box-shadow: none;
                                transform: translate(3px, 3px);
                            }
                        }
                    }

                    &[data-tab='automated'] {
                        .tab-title {
                            color: $yellow;
                        }
                    }

                    &[data-tab='scheduled'] {
                        .tab-title {
                            color: $blue;
                        }
                    }

                    .posts {
                        gap: 50px;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 25px;

                        @media screen and (min-width: 1050px) {
                            .form {
                                .form-heading {
                                    display: none;
                                }
                            }
                        }

                        // @media screen and (min-width: 930px) {
                        //     .form {
                        //         width: 100%;
                        //         max-width: 1000px;
                        //         max-height: 250px;

                        //         display: grid;
                        //         grid-gap: 25px;
                        //         grid-template-columns: repeat(10, 1fr);
                        //         grid-template-rows: repeat(3, 1fr) 25px;

                        //         padding-bottom: 25px;

                        //         &.failed-post {
                        //             border: 2px dashed red;
                        //         }

                        //         & > * {
                        //             display: none;
                        //         }

                        //         .form-selected-groups {
                        //             display: initial;
                        //             grid-column: 1 / 12;

                        //             span {
                        //                 color: $muted;
                        //                 font-style: italic;
                        //             }
                        //         }

                        //         .form-index {
                        //             display: flex;

                        //             height: 30px;
                        //         }

                        //         .form-textarea {
                        //             height: auto;
                        //             display: initial;
                        //             grid-column: 1 / 4;
                        //             grid-row: 1 / 3;
                        //         }

                        //         .form-input[name='link'] {
                        //             height: auto;
                        //             display: initial;
                        //             grid-column: 1 / 4;
                        //             grid-row: 3 / 4;
                        //         }

                        //         .form-media {
                        //             display: initial;
                        //             grid-column: 4 / 6;
                        //             grid-row: 1 / 4;
                        //             display: grid;
                        //             grid-template-columns: 1fr;
                        //             grid-gap: none;
                        //             grid-template-rows: repeat(3, 1fr);

                        //             .form-media-drop-zone {
                        //                 height: auto;
                        //                 grid-row: 1 / 2;
                        //             }

                        //             .form-media-gallery {
                        //                 grid-row: 2 / 4;
                        //                 display: flex;
                        //                 flex-direction: row;
                        //                 overflow-y: auto;

                        //                 img {
                        //                     height: 100%;
                        //                 }
                        //             }
                        //         }

                        //         .form-options {
                        //             display: initial;
                        //             grid-column: 6 / 8;
                        //             grid-row: 1 / 3;

                        //             display: flex;
                        //             flex-direction: column;
                        //         }

                        //         .form-select {
                        //             background-position-y: 8px;
                        //         }

                        //         .form-input[name='time'] {
                        //             display: initial;
                        //             height: auto;
                        //             grid-column: 6 / 8;
                        //             grid-row: 3 / 4;
                        //         }

                        //         .publish-time {
                        //             display: initial;
                        //             grid-column: 8 / 11;
                        //             grid-row: 1 / 2;
                        //             overflow-x: auto;
                        //             white-space: nowrap;
                        //         }

                        //         .form-buttons {
                        //             display: grid;
                        //             grid-column: 8 / 11;
                        //             grid-row: 2 / 4;

                        //             button {
                        //                 height: auto;
                        //             }
                        //         }
                        //     }
                        // }
                    }
                }
            }
        }
    }
}
