{% extends '../_base.html' %}

<!-- THE TITLE BLOCK -->
{% block title %} Settings | FB-AUTO {% endblock %}

<!-- THE STYLES BLOCK -->
{% block styles %}
<link rel="stylesheet" href="/css/settings/settings.css" />
{% endblock %}

<!-- THE CONTENT BLOCK -->
{% block content %}
<!-- THE SETTINGS -->
<div id="settings">
    <!-- THE SETTINGS SWITCHER -->
    <section id="settings-switcher">
        <!-- THE GROUPS SWITCH -->
        <button class="tab-switch active" data-tab="manage-groups" onclick="handleTabSwitch('manage-groups')">
            Manage Descriptions
        </button>
    </section>

    <!-- THE SETTINGS TABS -->
    <section id="settings-tabs">
        <!-- THE DESCRIPTION TAB -->
        <section class="settings-tab tab" data-tab="manage-groups">
            <!-- THE TAB HEADING -->
            <h2 class="settings-tab-heading">Manage Descriptions</h2>

            <section class="post-bulk-form-buttons" data-form-id="{{ post.id }}">
                <!-- THE CREATE DESCRIPTION -->
                <button class="group-action-create" onclick="openModal('modal-create')">
                    <i class="fa-solid fa-plus"></i> Create Description
                </button>
                <!-- THE BULK IMPORT BUTTON -->
                <button class="group-action-import" id="groupActionImport"><i class="fa-solid fa-list"></i> Import
                </button>
                <!-- THE DELETE ALL BUTTON -->
                <button class="group-action-delete-main" id="groupActionDelete" onclick="handleDeleteDescription('','','all')"><i class="fa-solid fa-trash"></i> Delete All
                </button>
                <input type="file" id="importFile" name="import-file" style="display:none" />
            </section>
            <!-- THE DESCRIPTION LIST -->
            <table id="groups-list">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for description in descriptions %}
                    <tr>
                        <td class="group-id">
                            <p>{{ loop.index }}</p>
                        </td>
                        <td class="group-description">
                            <p>{{ description.description }}</p>
                        </td>
                        <td class="group-actions">
                            <button class="group-action-edit"
                                onclick='handleEditDescription("{{ description.id }}", "{{ description.description }}")'>
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="group-action-delete"
                                onclick='handleDeleteDescription("{{ description.id }}", "{{ description.description }}")'>
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
</div>

<!-- THE MODALS -->
{% include './template/_modals.html' %}
<!-- END MODALS -->
{% endblock %}
<!-- THE SCRIPTS BLOCK -->
{% block scripts %}
<script src="/js/posts/handleTabSwitch.js"></script>
<script src="/js/timesheet/handleOpenModal.js"></script>
<script src="/js/timesheet/handleCloseModal.js"></script>

<script src="/js/description/createDescription.js"></script>
<script src="/js/description/deleteDescription.js"></script>
<script src="/js/description/handleEditDescription.js"></script>
<script src="/js/description/handleDeleteDescription.js"></script>


<script src="/js/settings/createGroup.js"></script>

<script>
    document.getElementById('groupActionImport').addEventListener('click', function (event) {
        document.getElementById('importFile').click()
    });
    document.getElementById('importFile').addEventListener('change', function (event) {
        // const fileInput = document.getElementById('fileInput');
        const fileList = event.target.files;

        if (fileList.length > 0) {
            const file = fileList[0];
            console.log('File selected:', file.name);

            const reader = new FileReader();
            reader.onload = function (event) {
                let fileText = event.target.result;
                // const lines = fileText.replace('\r','').split('\n');
                const lines = fileText.split('\r\n');
                importDescriptions(lines);
            };

            reader.readAsText(file);
        } else {
            console.error('No file selected');
        }
    });
</script>
{% endblock %}