{% extends '../_base.html' %}

<!-- THE TITLE BLOCK -->
{% block title %} FB-AUTO {% endblock %}

<!-- THE STYLES BLOCK -->
{% block styles %}
<link rel="stylesheet" href="/css/home/home.css" />
{% endblock %}

<!-- THE CONTENT BLOCK -->
{% block content %}
<!-- THE FORM -->

<form class="form" data-form-id="0" onsubmit="event.preventDefault();">
    <!-- THE HEADING -->
    <h3 class="form-heading" data-form-id="0">Create a Post</h3>
    <section class="form-buttons bulk-action-btns" data-form-id="0">
        <!-- <button class="form-button form-button-bulk" data-form-id="0" onclick="generateNewPostHtml()"> -->
        <button class="form-button form-button-bulk" data-form-id="0">
            Generate Bulk Posts from Images
        </button>
        <input type="file" name="bulkfiles" class="hidden" data-form-id="0" multiple />
        <!-- THE SCHEDULE BUTTON -->
        <button class="form-button form-button-schedule" data-form-id="0" onclick="bulkDuplink('scheduled')">
            Schedule
        </button>

        <!-- THE AUTOMATE BUTTON -->
        <button class="form-button form-button-automate" data-form-id="0" onclick="bulkDuplink('automated')">
            <i class="fa-regular fa-paper-plane"></i>
        </button>
        <!-- THE PUBLISH BUTTON -->
        <button class="form-button form-button-publish" data-form-id="0" onclick="bulkDuplink('publish')">
            Publish Now
        </button>
    </section>
    <!-- THE ID -->
    

    <section class="form-container ">
        <input type="number" name="id" class="form-input hidden" data-form-id="0" value="0" />
        <section class="form-content">
            
            <select name="description" class="form-select" data-form-id="0">
                <option value="" disabled selected>Description</option>
                {% for description in descriptions %}
                <option value="{{ description.description  }}">{{ description.description }}</option>
                {% endfor %}
            </select>
            <!-- THE MESSAGE -->
            <textarea name="message" class="form-textarea" data-form-id="0"
                placeholder="What's on your mind?"></textarea>
            <!-- THE MESSAGE / DESCRIPTION SWITCHER
            <label>
                <input type="checkbox" name="random_description" value="1" classs="checkbox" style="width:auto"
                    data-form-id="0">
                Use random description
            </label> -->
            <!-- THE LINK -->
            <input type="url" name="link" class="form-input" data-form-id="0"
                placeholder="http(s)://(www.)example.org" />

            <!-- THE LINK DESCRIPTION-->
            <!-- <input type="text" name="link_description" class="form-input" data-form-id="0"
                placeholder="What's the link about" /> -->

            <!-- THE GROUPS -->
            {% if groups.length > 0 %}
            <button id="group-toggle" data-form-id="0" onclick="toggleGroupSelector('0')">
                <span>Select Groups</span>
                <span>
                    <i class="fa-solid fa-chevron-down group-toggle-icon" data-form-id="0"></i>
                </span>
            </button>
            <fieldset class="form-groups hidden" data-form-id="0">
                {% for group in groups %}
                <label for="group-{{ group.id }}-post-0">
                    <input type="checkbox" name="groups" id="group-{{ group.id }}-post-0" value="{{ group.id }}"
                        data-form-id="0" /> {{ group.name }}
                </label>
                {% endfor %}
            </fieldset>
            {% endif %}
            <!-- END GROUPS -->
        </section>

        <!-- THE MEDIA -->
        <section class="form-media" data-form-id="0">
            <!-- THE DROP ZONE -->
            <div class="form-media-drop-zone" data-form-id="0">Drop media here!</div>

            <!-- THE GALLERY -->
            <div class="form-media-gallery hidden" data-form-id="0"></div>

            <!-- THE SECONDARY GALLERY -->
            <div class="form-media-gallery secondary hidden" data-form-id="0">
                <input type="text" name="images" class="form-input hidden" data-form-id="0" value="null" />
            </div>

            <!-- THE FILE INPUT -->
            <input type="file" name="files" class="hidden" data-form-id="0" multiple />

            <!-- THE MEDIA INPUT -->
            <input type="text" name="media" class="form-input hidden" data-form-id="0" />
        </section>

        <section class="form-flags">
            <!-- THE OPTIONS -->
            <section class="form-options" data-form-id="0">
                <!-- THE CONTEXT -->
                <select name="context" class="form-select" data-form-id="0">
                    <option value="page" {% if context=='page' %}selected{% endif %}>Post to Page</option>
                    <option value="group" {% if context=='group' %}selected{% endif %}>Post to Group</option>
                    <!-- <option value="bulk" {% if context=='bulk' %}selected{% endif %}>Bulk Post</option> -->
                </select>

                <!-- THE PUBLISHER -->
                <select name="publisher" class="form-select" data-form-id="0">
                    <option value="page" {% if publisher=='page' %}selected{% endif %}>Post as Page</option>
                    <option value="user" {% if publisher=='user' %}selected{% endif %}>Post as User</option>
                    <!-- <option value="bulk" {% if publisher=='bulk' %}selected{% endif %}>Bulk Post</option> -->
                </select>
            </section>
            <label>
                <input type="checkbox" name="bulk" value="1" classs="checkbox" style="width:auto" data-form-id="0">
                Check this if you want to post to all groups and pages
            </label>
            <!-- THE TIME -->
            <input type="datetime-local" name="time" class="form-input" data-form-id="0" />

            <!-- THE PRIORITY -->
            <input type="number" name="priority" class="form-input hidden" data-form-id="0" />

            <!-- THE BUTTONS -->
            <section class="form-buttons" data-form-id="0">
                <!-- THE SCHEDULE BUTTON -->
                <button class="form-button form-button-schedule" data-form-id="0" onclick="duplink('0', 'scheduled')">
                    Schedule
                </button>

                <!-- THE AUTOMATE BUTTON -->
                <button class="form-button form-button-automate" data-form-id="0" onclick="duplink('0', 'automated')">
                    <i class="fa-regular fa-paper-plane"></i>
                </button>
                <!-- THE PUBLISH BUTTON -->
                <button class="form-button form-button-publish" data-form-id="0" onclick="duplink('0', 'publish')">
                    Publish Now
                </button>
            </section>
        </section>

    </section>
</form>
<!-- END FORM -->
{% endblock %}

<!-- THE SCRIPTS BLOCK -->
{% block scripts %}
<script src="/js/common/handleMedia.js"></script>
<script src="/js/common/handleBulkMedia.js"></script>
<script src="/js/common/handleCreatePost.js"></script>
<script src="/js/common/handleGroupSelection.js"></script>
<script>
    let noOfPosts = 1;
    let postForm = document.querySelector('.form-container').innerHTML
    const stringWithHtmlEntities = '{{ descriptions | dump }}';
    const jsonString = stringWithHtmlEntities.replace(/&quot;/g, '"');
    const descriptionsArray = JSON.parse(jsonString).map(item => item.description);

    const getRandomElement = (array) => {
        const randomIndex = Math.floor(Math.random() * array.length);
        return array[randomIndex];
    };
    function setRandomDescription() {
        let descriptionBoxes = document.querySelectorAll(`[name="description"]`)
        for(let i = 0; i < descriptionBoxes.length; i++) {
            let randomDescription = getRandomElement(descriptionsArray);
            descriptionBoxes[i].value = randomDescription
        }
    }
    function checkBulk(e) {
        let dataFormId = e.target.getAttribute("data-form-id")
        let bulk = document.querySelector(`[name="bulk"][data-form-id="${dataFormId}"]`).checked;
        if (bulk) {
            let a = document.querySelectorAll(`[name="groups"][data-form-id="${dataFormId}"]`)
            for(let i = 0; i< a.length; i++){
                console.log(a[i])
                a[i].checked = true
            }
        } else {
            let a = document.querySelectorAll(`[name="groups"][data-form-id="${dataFormId}"]`)
            for(let i = 0; i< a.length; i++){
                console.log(a[i])
                a[i].checked = false
            }
        }
    }
    
    function generateNewPostHtml(length = 1) {
        for(let i = 0; i < length; i++){
            let sQ = 'data-form-id="' + (noOfPosts - 1) + '"'
            let search = new RegExp(sQ, 'g');
            postForm = postForm.replace(search, 'data-form-id="' + (noOfPosts) + '"');
            
            sQ = "duplink('"+(noOfPosts - 1)+"', 'scheduled')"
            postForm = postForm.replace(sQ, "duplink('"+(noOfPosts)+"', 'scheduled')");
            
            sQ = "duplink('"+(noOfPosts - 1)+"', 'automated')"
            postForm = postForm.replace(sQ, "duplink('"+(noOfPosts)+"', 'automated')");
            
            sQ = "duplink('"+(noOfPosts - 1)+"', 'publish')"
            postForm = postForm.replace(sQ, "duplink('"+(noOfPosts)+"', 'publish')");
            
            sQ = "toggleGroupSelector('"+(noOfPosts - 1)+"')"
            postForm = postForm.replace(sQ, "toggleGroupSelector('"+(noOfPosts)+"')");
            
            sQ = 'listener="true"'
            postForm = postForm.replace(sQ, "");
            
    
            const targetDiv = document.querySelector('.form-container');
    
            if (targetDiv) {
                // Create a new element with the HTML content you want to append
                const newContent = document.createElement('div');
                newContent.innerHTML = '<hr style="margin-bottom: 25px;"/><section class="form-container">' + postForm + '</section>';
    
                // Append the new element after the target div
                targetDiv.parentNode.insertBefore(newContent, targetDiv.nextSibling);
            } else {
                console.error('The target div with class was not found.');
            }
            document.querySelector(`[name="bulk"][data-form-id="${noOfPosts}"]`).addEventListener('change', checkBulk);
            noOfPosts = noOfPosts + 1
        }
        reloadDropzones()
        setRandomDescription()
    }
    const bulkDuplink = async (type) => {
        for(i = 0; i < noOfPosts; i++){
            await duplink(i,type)
        }
    }
    
    document.querySelector('[name="bulk"]').addEventListener('change', checkBulk);
    setRandomDescription()

</script>

{% endblock %}