{% extends '../_base.html' %}

<!-- THE TITLE BLOCK -->
{% block title %} Posts | FB-AUTO {% endblock %}

<!-- THE STYLES BLOCK -->
{% block styles %}
<link rel="stylesheet" href="/css/posts/posts.css" />
{% endblock %}

<!-- THE CONTENT BLOCK -->
{% block content %}
<!-- THE TAB SWITCHES -->
<section id="tab-switches">
    <!-- THE AUTOMATED SWITCH -->
    <button
        class="tab-switch {% if posts.automated.length > 0 %} active {% endif %}"
        data-tab="automated"
        onclick="handleTabSwitch('automated')">
        Automated Posts
    </button>

    <!-- THE SCHEDULED SWITCH -->
    <button
        class="tab-switch {% if posts.automated.length < 1 %} active {% endif %}"
        data-tab="scheduled"
        onclick="handleTabSwitch('scheduled')">
        Scheduled Posts
    </button>
</section>

<!-- THE TABS -->
<section id="tabs">
    <!-- THE AUTOMATED TAB -->
    <section class="tab {% if posts.automated.length <= 0 %} hidden {% endif %}" data-tab="automated">
        <!-- THE TAB TITLE -->
        <h3 class="tab-title">Automated Posts</h3>

        <!-- THE RE-ORDER BUTTON -->
        <button class="re-order" data-tab="automated" onclick="handleReOrderSwitch('automated')">Re-Order Posts</button>

        <!-- THE POSTS -->
        <section class="posts" data-tab="automated">
            {% for post in posts.automated %}
            <form
                class="form post {% if post.status == 'active' %}failed-post{% endif %}"
                data-form-id="{{ post.id }}"
                onsubmit="event.preventDefault();">
                <!-- THE INDEX -->
                <p class="form-index">{{ loop.index }}</p>

                <!-- THE HEADING -->
                <h3 class="form-heading" data-form-id="{{ post.id }}">Update the Post</h3>

                <!-- THE ID -->
                <input
                    type="number"
                    name="id"
                    class="form-input hidden"
                    data-form-id="{{ post.id }}"
                    value="{{ post.id }}" />

                <div class="form-container">
                    <section class="form-content">
                        <!-- THE MESSAGE -->
                        <textarea
                            name="message"
                            class="form-textarea"
                            data-form-id="{{ post.id }}"
                            placeholder="What's on your mind?">
{{ post.message }}</textarea
                        >

                        <!-- THE LINK -->
                        <input
                            type="url"
                            name="link"
                            class="form-input"
                            data-form-id="{{ post.id }}"
                            placeholder="http(s)://(www.)example.org"
                            value="{{ post.link }}" />

                        <!-- THE GROUPS -->
                        {% if all_groups.length > 0 %}
                        <button id="group-toggle" data-form-id onclick="toggleGroupSelector('{{ post.id }}')">
                            <span>Select Groups</span>
                            <span><i class="fa-solid fa-chevron-down group-toggle-icon"></i></span>
                        </button>
                        <fieldset class="form-groups hidden" data-form-id="{{ post.id }}">
                            {% for group in all_groups %}
                            <label for="group-{{ group.id }}-post-{{ post.id }}">
                                <input
                                    type="checkbox"
                                    name="groups"
                                    id="group-{{ group.id }}-post-{{ post.id }}"
                                    value="{{ group.id }}"
                                    data-form-id="{{ post.id }}" />
                                {{ group.name }}
                            </label>
                            {% endfor %}
                        </fieldset>
                        {% endif %}
                        <!-- END GROUPS -->
                    </section>

                    <!-- THE MEDIA -->
                    <section class="form-media" data-form-id="{{ post.id }}">
                        <!-- THE DROP ZONE -->
                        <div class="form-media-drop-zone" data-form-id="{{ post.id }}">Drop media here!</div>

                        <!-- THE GALLERY -->
                        <div class="form-media-gallery hidden" data-form-id="{{ post.id }}"></div>

                        <!-- THE SECONDARY GALLERY -->
                        {% if post.media %}
                        <div
                            class="form-media-gallery secondary {% if post.media == 'null' %} hidden {%endif%}"
                            data-form-id="{{ post.id }}">
                            <input
                                type="text"
                                name="images"
                                class="form-input hidden"
                                data-form-id="{{ post.id }}"
                                value="{{ post.media }}" />
                        </div>
                        {% endif %}

                        <!-- THE FILE INPUT -->
                        <input type="file" name="files" class="hidden" data-form-id="{{ post.id }}" multiple />

                        <!-- THE MEDIA INPUT -->
                        <input type="text" name="media" class="form-input hidden" data-form-id="{{ post.id }}" />
                    </section>

                    <section class="form-flags">
                        <!-- THE OPTIONS -->
                        {% include './template/_options.html' %}

                        <!-- THE TIME -->
                        <input
                            type="datetime-local"
                            name="time"
                            class="form-input"
                            data-form-id="{{ post.id }}"
                            value="{{ post.time }}" />

                        <!-- THE PRIORITY -->
                        <input
                            type="number"
                            name="priority"
                            class="form-input hidden"
                            data-form-id="{{ post.id }}"
                            value="{{ post.priority }}" />

                        <!-- THE BUTTONS -->
                        <section class="form-buttons" data-form-id="{{ post.id }}">
                            <!-- THE AUTOMATE BUTTON -->
                            <button
                                class="form-button form-button-automate"
                                data-form-id="{{ post.id }}"
                                onclick="duplink('{{ post.id }}', 'automated')">
                                <i class="fa-regular fa-paper-plane"></i>&nbsp;&nbsp;&nbsp;&nbsp;Update
                            </button>

                            <!-- THE SCHEDULE BUTTON -->
                            <button
                                class="form-button form-button-schedule"
                                data-form-id="{{ post.id }}"
                                onclick="duplink('{{ post.id }}', 'scheduled')">
                                <i class="fa-solid fa-clock-rotate-left" style="font-size: 18px"></i>
                            </button>

                            <!-- THE PUBLISH BUTTON -->
                            <button
                                class="form-button form-button-publish"
                                data-form-id="{{ post.id }}"
                                onclick="duplink('{{ post.id }}', 'publish')">
                                Publish Now
                            </button>

                            <!-- THE DELETE BUTTON -->
                            <button
                                class="form-button form-button-delete"
                                data-form-id="{{ post.id }}"
                                onclick="deletePost('{{ post.id }}')">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </section>
                    </section>
                </div>

                <section class="form-extra-info">
                    <!-- THE GROUPS -->
                    <p class="form-selected-groups">
                        <b>Groups:</b></b>&nbsp; {% if post.groups == 'null' %} <span>no group.</span> {% endif %} {% if post.groups !=
                        'null' %} {% for group in post.groups %}
                        <span>{{ group.name }}.&nbsp;</span>
                        {% endfor %} {% endif %}
                    </p>
                    <!-- END GROUPS -->

                    <input type="text" class="hidden" name="groups-holder" data-form-id="{{ post.id }}" value="{{ post.groups_string }}">


                    <!-- THE PUBLISH TIME -->
                    <h4 class="publish-time">
                        <span data-publish-id="{{ loop.index }}" class="publish-time-date">2023-09-11</span> |
                        <span data-publish-id="{{ loop.index }}" class="publish-time-day">Monday</span> |
                        <span data-publish-id="{{ loop.index }}" class="publish-time-time">09:00 PM</span>
                    </h4>
                    <!-- END PUBLISH TIME -->
                </section>
            </form>
            {% endfor %}
        </section>
    </section>

    <!-- THE SCHEDULED TAB -->
    <section class="tab {% if posts.automated.length > 0 %} hidden {% endif %}" data-tab="scheduled">
        <!-- THE TAB TITLE -->
        <h3 class="tab-title">Scheduled Posts</h3>

        <!-- THE RE-ORDER BUTTON -->
        <button class="re-order" data-tab="scheduled" onclick="handleReOrderSwitch('scheduled')">Re-Order Posts</button>

        <!-- THE POSTS -->
        <section class="posts" data-tab="automated">
            {% for post in posts.scheduled %}
            <form
                class="form post {% if post.status == 'active' %} failed-post {% endif %}"
                data-form-id="{{ post.id }}"
                onsubmit="event.preventDefault();">
                <!-- THE INDEX -->
                <p class="form-index">{{ loop.index }}</p>

                <!-- THE HEADING -->
                <h3 class="form-heading" data-form-id="{{ post.id }}">Update the Post</h3>

                <!-- THE ID -->
                <input
                    type="number"
                    name="id"
                    class="form-input hidden"
                    data-form-id="{{ post.id }}"
                    value="{{ post.id }}" />

                <div class="form-container">
                    <section class="form-content">
                        <!-- THE MESSAGE -->
                        <textarea
                            name="message"
                            class="form-textarea"
                            data-form-id="{{ post.id }}"
                            placeholder="What's on your mind?">
{{ post.message }}</textarea
                        >

                        <!-- THE LINK -->
                        <input
                            type="url"
                            name="link"
                            class="form-input"
                            data-form-id="{{ post.id }}"
                            placeholder="http(s)://(www.)example.org"
                            value="{{ post.link }}" />

                        <!-- THE GROUPS -->
                        {% if all_groups.length > 0 %}
                        <button
                            id="group-toggle"
                            data-form-id="{{ post.id }}"
                            onclick="toggleGroupSelector('{{ post.id }}')">
                            <span>Select Groups</span>
                            <span
                                ><i class="fa-solid fa-chevron-down group-toggle-icon" data-form-id="{{ post.id }}"></i
                            ></span>
                        </button>
                        <fieldset class="form-groups hidden" data-form-id="{{ post.id }}">
                            {% for group in all_groups %}
                            <label for="group-{{ group.id }}-post-{{ post.id }}">
                                <input
                                    type="checkbox"
                                    name="groups"
                                    id="group-{{ group.id }}-post-{{ post.id }}"
                                    value="{{ group.id }}"
                                    data-form-id="{{ post.id }}" />
                                {{ group.name }}
                            </label>
                            {% endfor %}
                        </fieldset>
                        {% endif %}
                        <!-- END GROUPS -->
                    </section>

                    <!-- THE MEDIA -->
                    <section class="form-media" data-form-id="{{ post.id }}">
                        <!-- THE DROP ZONE -->
                        <div class="form-media-drop-zone" data-form-id="{{ post.id }}">Drop media here!</div>

                        <!-- THE GALLERY -->
                        <div class="form-media-gallery hidden" data-form-id="{{ post.id }}"></div>

                        <!-- THE SECONDARY GALLERY -->
                        {% if post.media %}
                        <div
                            class="form-media-gallery secondary {% if post.media == 'null' %} hidden {%endif%}"
                            data-form-id="{{ post.id }}">
                            <input
                                type="text"
                                name="images"
                                class="form-input hidden"
                                data-form-id="{{ post.id }}"
                                value="{{ post.media }}" />
                        </div>
                        {% endif %}

                        <!-- THE FILE INPUT -->
                        <input type="file" name="files" class="hidden" data-form-id="{{ post.id }}" multiple />

                        <!-- THE MEDIA INPUT -->
                        <input type="text" name="media" class="form-input hidden" data-form-id="{{ post.id }}" />
                    </section>

                    <section class="form-flags">
                        <!-- THE OPTIONS -->
                        {% include './template/_options.html' %}

                        <!-- THE TIME -->
                        <input
                            type="datetime-local"
                            name="time"
                            class="form-input"
                            data-form-id="{{ post.id }}"
                            value="{{ post.time }}" />

                        <!-- THE PRIORITY -->
                        <input
                            type="number"
                            name="priority"
                            class="form-input hidden"
                            data-form-id="{{ post.id }}"
                            value="{{ post.priority }}" />

                        <!-- THE BUTTONS -->
                        <section class="form-buttons" data-form-id="{{ post.id }}">
                            <!-- THE SCHEDULE BUTTON -->
                            <button
                                class="form-button form-button-schedule"
                                data-form-id="{{ post.id }}"
                                onclick="duplink('{{ post.id }}', 'scheduled')">
                                <i class="fa-solid fa-clock-rotate-left" style="font-size: 18px"></i
                                >&nbsp;&nbsp;&nbsp;&nbsp; Update
                            </button>

                            <!-- THE AUTOMATE BUTTON -->
                            <button
                                class="form-button form-button-automate"
                                data-form-id="{{ post.id }}"
                                onclick="duplink('{{ post.id }}', 'automated')">
                                <i class="fa-regular fa-paper-plane"></i>
                            </button>

                            <!-- THE PUBLISH BUTTON -->
                            <button
                                class="form-button form-button-publish"
                                data-form-id="{{ post.id }}"
                                onclick="duplink('{{ post.id }}', 'publish')">
                                Publish Now
                            </button>

                            <!-- THE DELETE BUTTON -->
                            <button
                                class="form-button form-button-delete"
                                data-form-id="{{ post.id }}"
                                onclick="deletePost('{{ post.id }}')">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </section>
                    </section>
                </div>

                <!-- THE GROUPS -->
                <p class="form-selected-groups">
                    Groups:&nbsp; {% if post.groups == 'null' %} <span>no group.</span> {% endif %} {% if
                    post.groups != 'null' %} {% for group in post.groups %}
                    <span>{{ group.name }}.&nbsp;</span>
                    {% endfor %} {% endif %}
                </p>
                <!-- END GROUPS -->

                <input type="text" class="hidden" name="groups-holder" data-form-id="{{ post.id }}" value="{{ post.groups_string }}">
            </form>
            {% endfor %}
        </section>
    </section>
</section>
{% endblock %}

<!-- THE SCRIPTS BLOCK -->
{% block scripts %}
<script src="/js/common/handleMedia.js"></script>
<script src="/js/common/handleCreatePost.js"></script>
<script src="/js/common/handleDeletePost.js"></script>
<script src="/js/common/handleGroupSelection.js"></script>

<script src="/js/posts/handleTabSwitch.js"></script>
<script src="/js/posts/handleReOrderSwitch.js"></script>
<script src="/js/posts/handleSecondaryGallery.js"></script>

<script src="/js/posts/handleGroupCheckboxes.js"></script>

<script src="/js/posts/handleDateTimeOnAutomatedPosts.js"></script>
{% endblock %}
